<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Points</th>
        </tr>

        {% for point in employee_points %}
        <tr>
            <td>{{ point.employee.first_name }} {{ point.employee.last_name }}</td>
            <td>{{ point.points }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>