<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <select name="employee_id" id="">
            {% for employee in employee_id %}
                <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
            {% endfor %}
        </select>
        <input type="number" name="points" id="" placeholder="enter point">
        <input type="submit" value="Add Points">
    </form>
</body>
</html>