<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/imagefiles_update/{{ image.id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" value="{{ image.title }}"><br>
        <input type="file" name="image"><br>
        <img src="{{ image.images.url }}" alt="" style="max-width: 200px;"><br><br>
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>