<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Uploaded Images</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {% for image in images %}
        <tr>
            <td>{{ image.title }}</td>
            <td><img src="{{ image.images.url }}" alt="{{ image.title }}" style="max-width: 200px;"></td>
            <td><a href="imagefiles_delete/{{ image.id }}">Delete</a></td>
            <td><a href="imagefiles_edit/{{ image.id }}">Edit</a></td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>