<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="book" placeholder="Enter Book Name"><br><br>
        <input type="text" name="author" placeholder="Enter Author Name"><br><br>
        <input type="number" name="price" placeholder="Enter Price"><br><br>
        <input type="submit" value="Submit"><br>
    </form>
</body>
</html>