<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Person List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {% for person in persons %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.gender }}</td>
            <td><a href="person_delete/{{person.id}}">Delete</a></td>
            <td><a href="person_edit/{{person.id}}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>