<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/person_update/{{ person.id }}" method="post">
        {% csrf_token %}
        <input type="text" id="name" name="name" value="{{ person.name }}"><br><br>
        <input type="radio" id="female" name="gender" value="female" {% if person.gender == "female" %}checked{% endif %}>female<br>
        <input type="radio" id="male" name="gender" value="male" {% if person.gender == "male" %}checked{% endif %}>male<br>
        <input type="radio" id="other" name="gender" value="other" {% if person.gender == "other" %}checked{% endif %}>other<br>
        <input type="submit" value="Update">
    </form>
</body>
</html>