{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/one.css' %}">
    <script src="{% static 'js/one.js' %}"></script>
</head>
<body>
    <h1>welcome</h1>
    <img src="{% static 'images/new.jpg' %}" alt="New Image">
</body>
</html>

<!-- DTL:Django Template Language is a system in django that allows developers to create dynamic html pages by embedding python like expressions and logic directly into html templates -->
